<a href="https://colab.research.google.com/github/toot09/Algorithm_Study/blob/master/%EC%8B%A4%EC%8A%B51/10817_%EC%84%B8%20%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#문제
세 정수 A, B, C가 주어진다. 이때, 두 번째로 큰 정수를 출력하는 프로그램을 작성하시오. 

#입력
첫째 줄에 세 정수 A, B, C가 공백으로 구분되어 주어진다. (1 ≤ A, B, C ≤ 100)

#출력
두 번째로 큰 정수를 출력한다.

In [67]:
a,b,c = map(int,input().split())
if a >= b:
  if c >= a:
    print(a)
  elif b >= c:
    print(b)
  else:
    print(c)
else: #a<b
  if b<=c:
    print(b)
  elif a<=c:
    print(c)
  else:
    print(a)

20 10 10
10

In [74]:
a = list(map(int,input().split()))
a.sort()
print(a[-2])

20 10 10
10

In [61]:
def quickSort(a,start,end):
  if(start>=end):
    return
  i = start + 1
  j = end
  key = start
  while(i<=j):
    while(a[i]<=a[key] and i < end):
      i = i + 1
    while(a[j]>=a[key] and j > start):
      j = j - 1
    if(i<=j):
      a[i], a[j] = a[j], a[i]
    else:
      a[j], a[key] = a[key], a[j]
  quickSort(a,start,j-1)
  quickSort(a,j+1,end)

a = list(map(int,input().split()))
quickSort(a,0,len(a)-1)
print(a[len(a)-2])

10 203 10 203 293 19
203