<a href="https://colab.research.google.com/github/toot09/Algorithm_backjoon/blob/master/%EC%A0%95%EB%A0%AC/10989_%EC%88%98%EC%A0%95%EB%A0%AC%ED%95%98%EA%B8%B03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제
N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

# 입력
첫째 줄에 수의 개수 N(1 ≤ N ≤ 10,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 숫자가 주어진다. 이 수는 10,000보다 작거나 같은 자연수이다.

# 출력
첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

In [6]:
import sys
lst = [0]*10001
n = int(input())
for i in range(n):
  lst[int(sys.stdin.readline())] += 1
for j in range(len(lst)):
  if lst[j] != 0:
    for k in range(lst[j]):
      sys.stdout.write(str(j)+'\n')

5
3
1
6
2
1
1
1
2
3
6