<a href="https://colab.research.google.com/github/toot09/Algorithm_backjoon/blob/master/%EC%A0%95%EB%A0%AC/2750_%EC%88%98%EC%A0%95%EB%A0%AC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제
N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

# 입력
첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000)이 주어진다. 둘째 줄부터 N개의 줄에는 숫자가 주어진다. 이 수는 절댓값이 1,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

# 출력
첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

In [4]:
N = int(input())
lst = []
for _ in range(N):
  lst.append(int(input()))
lst.sort()
for n in lst:
  print(n)

5
5
2
3
4
1
1
2
3
4
5