<a href="https://colab.research.google.com/github/toot09/Algorithm_Study/blob/master/10869_%EC%82%AC%EC%B9%99%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

**입력**

두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)

**출력**

첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.

In [19]:
a, b = map(int,input().split())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

6 3
9
3
18
2.0
0