<a href="https://colab.research.google.com/github/toot09/Algorithm_Study/blob/master/2588_%EA%B3%B1%EC%85%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.

# (1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

**입력**

첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.

**출력**

첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.

In [34]:
X, Y = map(int,input().split())
a = int(X/100)
b = int(X/10)%10
c = int(X%10)
print(X*a)
print(X*b)
print(X*c)
print(X*Y)

472 385
1888
3304
944
181720