<a href="https://colab.research.google.com/github/toot09/Algorithm_Study/blob/master/%EB%AC%B8%EC%9E%90%EC%97%B4/11720_%EC%88%AB%EC%9E%90%EC%9D%98%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제
N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

# 입력
첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.

# 출력
입력으로 주어진 숫자 N개의 합을 출력한다.

In [6]:
cnt = int(input())
num = str(input())
result = 0
for n in list(num):
  result += int(n)
print(result)

5
54321
15

In [9]:
n = int(input())
num = input()
sum([int(i) for i in num])

3
879

24