<a href="https://colab.research.google.com/github/toot09/Algorithm_Study/blob/master/%EC%88%98%ED%95%991/1193_%EB%B6%84%EC%88%98%EC%B0%BE%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제
무한히 큰 배열에 다음과 같이 분수들이 적혀있다.

* 1/1	1/2	1/3	1/4	1/5	…
* 2/1	2/2	2/3	2/4	…	…
* 3/1	3/2	3/3	…	…	…
* 4/1	4/2	…	…	…	…
* 5/1	…	…	…	…	…
* …	…	…	…	…	…

이와 같이 나열된 분수들을 1/1 -> 1/2 -> 2/1 -> 3/1 -> 2/2 -> … 과 같은 지그재그 순서로 차례대로 1번, 2번, 3번, 4번, 5번, … 분수라고 하자.

X가 주어졌을 때, X번째 분수를 구하는 프로그램을 작성하시오.

# 입력
첫째 줄에 X(1 ≤ X ≤ 10,000,000)가 주어진다.

# 출력
첫째 줄에 분수를 출력한다.

In [11]:
n = int(input())
idx = [1,1]
xy_idx = 1
dir_r = True
for i in range(1,n):
  if dir_r:
    if idx[0]-1 > 0:
      idx[0] -= 1
      idx[1] += 1
    else:
      xy_idx += 1
      idx = [1,xy_idx]
      dir_r = False
  else:
    if idx[1]-1 > 0:
      idx[1] -= 1
      idx[0] += 1
    else:
      xy_idx += 1
      idx = [xy_idx,1]
      dir_r = True
print(str(idx[0])+'/'+str(idx[1]))

14
2/4

In [0]:
# 순서 분석으로 잘 못 접근한 예
a = int(input())
x = 1
x_ = 0
break_x = False
idx_x = 0
while(x<5):
  break_x = False
  x += x_
  x_ += 1
  idx_x += 1
  print('x :',x)
  print('x_ :',x_)
  chk = x
  for i in range(x_):
    if i > 0:
      chk += x_+1+i
    print('chk : ',chk)
    if chk == a:
      y = x_
      break_x = True
      break
  if break_x:
    break
print('x : ',idx_x)
print('y : ',y)

13
x : 1
x_ : 1
chk :  1
x : 2
x_ : 2
chk :  2
chk :  6
x : 4
x_ : 3
chk :  4
chk :  9
chk :  15
x : 7
x_ : 4
chk :  7
chk :  13
x :  4
y :  4