<a href="https://colab.research.google.com/github/toot09/Algorithm_Study/blob/master/1%EC%B0%A8%EC%9B%90%EB%B0%B0%EC%97%B4/2562_%EC%B5%9C%EB%8C%93%EA%B0%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

# 입력
첫 째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

# 출력
첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.

In [9]:
a = []
for i in range(9):
  a.append(int(input()))
max = 0
idx = 0
for j in range(len(a)):
  if max < a[j]:
    max = a[j]
    idx = j+1
print(max)
print(idx)

3
29
38
12
57
74
40
85
61
85
8

In [4]:
#리스트 안쓰고 해보기
max = 0
idx = 0
for i in range(9):
  x = int(input())
  if i == 0 or x > max:
    max = x
    idx = i+1
print(max)
print(i)

3
29
38
12
57
74
40
85
61
85
8