<a href="https://colab.research.google.com/github/toot09/Algorithm_Study/blob/master/%EC%88%98%ED%95%992/2581_%EC%86%8C%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제
자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최솟값을 찾는 프로그램을 작성하시오.

예를 들어 M=60, N=100인 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 이들 소수의 합은 620이고, 최솟값은 61이 된다.

# 입력
입력의 첫째 줄에 M이, 둘째 줄에 N이 주어진다.

M과 N은 10,000이하의 자연수이며, M은 N보다 작거나 같다.

# 출력
M이상 N이하의 자연수 중 소수인 것을 모두 찾아 첫째 줄에 그 합을, 둘째 줄에 그 중 최솟값을 출력한다. 

단, M이상 N이하의 자연수 중 소수가 없을 경우는 첫째 줄에 -1을 출력한다.

In [2]:
M = int(input())
N = int(input())
sum = 0
min = 0
for i in range(M,N+1):
  cnt = 0
  for j in range(1,i+1):
    if i%j==0:
      cnt += 1
    if cnt > 2:
      break
  if cnt == 2:
    sum += i
    if min < 1:
      min = i
if min >= 2:
  print(sum)
  print(min)
else:
  print(-1)

1
100
1060
2

In [1]:
def prime(n):
    if n == 1:
        return 0
    else:
        for i in range(2, int(n**(1/2))+1):
            if n % i == 0:
                return 0
        return 1

M = int(input())
N = int(input())
prime_list = []
for i in range(M, N+1):
    if prime(i) == 1:
      prime_list.append(i)
if sum(prime_list)==0:
    print(-1)
else:
    print(sum(prime_list))
    print(min(prime_list))

1
100
1060
2